#myVideoPlayer {
	position: relative;
}

#myVideoPlayer .video {
	height: 480px;
	width: auto;
	display: block;
}

#myVideoPlayer .controls {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 4em;
	padding: 0.5em;
	box-sizing: border-box;
	background: linear-gradient(hsla(0, 0%, 0%, 0), hsla(0, 0%, 0%, 0.5));
}

.controls button {
	border: none;
	background: none;
	appearance: unset;
	padding: 0;
	color: hsl(0, 0%, 97%);
	font-size: 1.5em;
	outline: none; /* fy fy, todo: make proper outline */
}

.controls .playButton {
	grid-row-start: 2;
	grid-row-end: 3;
	grid-column-start: 1;
	grid-column-end: 2;
}

.controls .volumeControls {
	grid-row-start: 2;
	grid-row-end: 3;
	grid-column-start: 2;
	grid-column-end: 3;
}

.controls {
	opacity: 0;
	transition: opacity 100ms ease;
	display: grid;
	grid-template-rows: 1fr 5fr;
	grid-template-columns: repeat(auto, 1fr);
}

#myVideoPlayer:hover .controls {
	opacity: 1;
}

.controls .rangeFinder {
	grid-row-start: 1;
	grid-row-end: 2;
	grid-column-start: 1;
	grid-column-end: 3;
}

.barCnt {
  position: relative;
  height: 10px;
  padding: 5px 0px;
}

.barCnt .preBar {
  position: absolute;
  background-color: hsl(0, 81%, 54%);
  height: 5px;
  line-height: 5px;
  z-index: 200;
  padding: 0px;
  margin: 0px;
  pointer-events: none;
}

input[type=range].colorized {
  -webkit-appearance: none;
  width: 100%;
  height: 5px;
  position: absolute;
  padding: 0px;
  margin: 0px;
  cursor: pointer;
  z-index: 100;
  left: 0px
}

input[type=range].colorized::-webkit-slider-runnable-track {
  height: 5px;
  background: #aaaaaa;
  border: none;
}

input[type=range].colorized::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: none;
  height: 0px;
	width: 0px;
	transition: height 200ms ease, width 200ms ease;
  border-radius: 50%;
  background: hsl(0, 81%, 54%);
  margin-top: -4px;
  z-index: 400;
}

input[type=range].colorized:focus {
  outline: none;
}

input[type=range].colorized:focus::-webkit-slider-runnable-track {
  background: #aaaaaa;
}

input[type=range].colorized::-moz-range-track {
  width: 100%;
  height: 5px;
  background: #aaaaaa;
  border: none;
}

input[type=range].colorized::-moz-range-thumb {
  border: none;
  height: 0px;
	width: 0px;
	transition: height 200ms ease, width 200ms ease;
  border-radius: 50%;
  background: hsl(0, 81%, 54%);
  z-index: 400;
}

input[type=range].colorized::-moz-focus-outer {
  border: 0;
}

.rangeFinder:hover input[type=range].colorized::-moz-range-thumb,
.rangeFinder:hover input[type=range].colorized::-webkit-slider-thumb {
	width: 16px;
	height: 16px;
}